# SETS
A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table

In [2]:
## Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
type(set_var)

set

In [7]:
set_1 = {1,2,3,4,4}

In [8]:
set_1 #Its eliminating duplicate values

{1, 2, 3, 4}

In [4]:
set_var = {"Avengers","Ironman","Hitman"}

In [5]:
print(set_var)

{'Ironman', 'Hitman', 'Avengers'}

In [6]:
type(set_var)

set

In [12]:
#Indexing
set_var[0] # set is not supporting index

TypeError: 'set' object is not subscriptable

In [13]:
set_var{0}

SyntaxError: invalid syntax (1223683628.py, line 1)

In [14]:
set_var["Avengers"]

TypeError: 'set' object is not subscriptable

In [9]:
## Inbuilt function in Sets

set_var.add("Hulk")

In [10]:
print(set_var)

{'Ironman', 'Hulk', 'Hitman', 'Avengers'}

In [11]:
print(set_var) #this is onordered

{'Ironman', 'Hulk', 'Hitman', 'Avengers'}

In [21]:
set1={"Avengers","Ironman","Hitman"}
set2={"Avengers","Ironman","Hitman","Hulk2"}

In [16]:
#Difference
set2.difference(set1)

{'Hulk2'}

In [17]:
#It is not updating set 2
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [18]:
##Different Update
set2.difference_update(set1)

In [19]:
set2

{'Hulk2'}

In [22]:
# Intersection - will provide the common items
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [24]:
set2.intersection_update(set1)

In [25]:
set2

{'Avengers', 'Hitman', 'Ironman'}

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values

In [26]:
dic={}

In [27]:
type(dic)

dict

In [28]:
dic={1,2,3,4,5}

In [29]:
type(dic)

set

In [30]:
## lets create a dictionary
my_dict = {"Car1":"Audi","Car2":"BMW","Car3":"Mercidies Benz"}

In [31]:
type(my_dict)

dict

In [32]:
type(dict())

dict

In [33]:
##Access the item values based on keys
my_dict['Car1']

'Audi'

In [34]:
my_dict['Car2']

'BMW'

In [35]:
# We can even loop throught the dictionary keys - by default it will return the keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [36]:
# we can even loop thought the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [37]:
# We can also check both keys and values

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [38]:
## Adding items in Dictionaries

my_dict['Car4'] = 'Audi 2.0'

In [39]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

In [40]:
my_dict['Car1'] = 'Maruti'

In [41]:
my_dict # Keys got replaced to Maruti , Overwritten

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

## Nested Dictionary

In [42]:
car1_model = {'Mercedes':1960}
car2_model = {'Audi':1970}
car3_model = {'Ambassador':1980}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [43]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [44]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [45]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

It is not Mutable. once we have defined the Tuple, we cannot change the elements of Tuple but we can change the entire tuple

Indexable

It will be used in application where the definition is used one time

In [46]:
## create an empty Tuples

my_tuple = tuple()

In [47]:
type(my_tuple)

tuple

In [48]:
my_tuple = ()

In [49]:
type(my_tuple)

tuple

In [58]:
my_tuple = ("Krish","Ankur","John")

In [51]:
my_tuple[0]

'Krish'

In [55]:
my_tuple[0]='Ananth'

TypeError: 'tuple' object does not support item assignment

In [56]:
my_tuple=("Hello","World")

In [57]:
my_tuple

('Hello', 'World')

In [52]:
print(type(my_tuple))

<class 'tuple'>

In [53]:
print(my_tuple)

('Krish', 'Ankur', 'John')

In [54]:
type(my_tuple)

tuple

In [59]:
## Inbuilt Function
my_tuple.count('Krish')

1

In [60]:
my_tuple.count('Ankur')

1