# Pandas Tutorial

Pandas is an open source, BSD-Licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming Language.

### Agenda
- What is Data Frames?
    csv file which have machine learning datset, if I want to read that basically we will be using Pandas to load the data after that it will be converted into a dataframe
    Data frame is a combination of both rows and columns and it will basically show you a representation format - how the data exactly looks like in the excel sheet , in the same way it will be loaded 
       My kirukkals - { It should be Greater than 1 column and Greater than 1 row
       if we take only one row and multiple column then it is series
       If we take 2 rows and one column then it is DataFrame
       If we take 1 row and 1 column then?-> DataFrame } 
       If it contains row and column label then it will be considered as DataFrame 
- What is Data Series?
    series either be a one row or one column , any one column or any one row - this will show you without label
    
- Different Operation in Pandas


In R programming indexes starts at 1

In [1]:
## First step is to import pandas

import pandas as pd
import numpy as np

In [2]:
## Playing with Dataframe

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [3]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [5]:
# Convert this to an excel sheet
df.to_csv('Test1.csv')

In [6]:
## Accesssing the elements
## 1.loc 2.iloc
# loc is label-based, which means that we have to specify the name of the rows and columns that we need to filter out  
# On the other hand, iloc is integer index-based. So here, we have to specify rows and columns by their integer index.
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [7]:
type(df.loc['Row1'])

pandas.core.series.Series

In [11]:
df.loc[['Column1']]

KeyError: "None of [Index(['Column1'], dtype='object')] are in the [index]"

In [30]:
df['Column3']

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column3, dtype: int32

In [31]:
df[['Column3','Column4']]

      Column3  Column4
Row1        2        3
Row2        6        7
Row3       10       11
Row4       14       15
Row5       18       19

In [12]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [13]:
df.iloc[0:2,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5

In [14]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [15]:
df.iloc[0:1,0:1]

      Column1
Row1        0

In [16]:
type(df.iloc[0:1,0:1])

pandas.core.frame.DataFrame

In [17]:
df.iloc[0:2,0:1]

      Column1
Row1        0
Row2        4

In [18]:
type(df.iloc[0:2,0:1])

pandas.core.frame.DataFrame

In [19]:
df.iloc[0:2,0]

Row1    0
Row2    4
Name: Column1, dtype: int32

In [20]:
type(df.iloc[0:2,0])

pandas.core.series.Series

In [21]:
df.iloc[0:2,0:1]

      Column1
Row1        0
Row2        4

In [22]:
type(df.iloc[0:2,0:1])

pandas.core.frame.DataFrame

In [23]:
## Take the elements from the column2
df.iloc[:,1:]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [24]:
#convert DataFrames into Array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [25]:
df.iloc[:,1:].values.shape

(5, 3)

In [26]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [28]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [27]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [29]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])