# Python Data Structures and Boolean
   - Boolean
   - Boolean and Logical Operators
   - Lists
   - Comparison Operators
   - Dictionaries
   - Tuples
   - Sets

## Boolean Variables 

Boolean objects are the two constant objects  False and True

They are used to represent Truth values (Other values can also be considered false or true)

In numeric context (for example, when used as the argument to an arithmetic operator), they behave like integers 0 and 1, respectively

The Built-in function bool() can be used to cast any value to Boolean,If the value can be interpreted as a truth value 

They are written as False and True, respectively

In [1]:
bool()

False

In [2]:
True

True

In [3]:
False

False

In [4]:
print(True,False)

True False

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [7]:
my_str='Krish Naik'

## If you want to see all the inbuilt string function - put string variable then "." then Tab

In [9]:
my_str.

'Krish Naik'

In [10]:
print(my_str.isalnum())#check if all char are numbers

False

In [21]:
print('Krish123'.isalnum())#check if all char are numbers

True

In [11]:
print(my_str.isalpha())#check if all char in the string are alphabetic - if it has space then it will return false

False

In [23]:
print('krishnaik'.isalpha())#check if all char in the string are alphabetic

True

In [12]:
print(my_str.isdigit())#check if string contains digits

False

In [14]:
print(my_str.istitle())#check if string contains Title words - First character is title case then return true else False

True

In [22]:
print('kichdi'.istitle())#check if string contains Title words - First character is title case then return true else False

False

In [15]:
print(my_str.isupper())#check if string contains Upper Case

False

In [16]:
print(my_str.islower())#check if string contains Lower Case

False

In [17]:
print(my_str.isspace())#check if string contains Space

False

In [20]:
print(my_str.endswith('k'))#check if string ends with a 'd'

True

In [19]:
print(my_str.startswith('K'))#check if string ends with a 'd'

True

## Boolean and Logical Operators

In [24]:
True and True

True

In [25]:
True and False

False

In [26]:
True or False

True

In [27]:
True or True

True

In [28]:
str_example = 'Hello World'
my_str = 'Krish'

In [29]:
my_str.isalpha() or str_example.isnumeric()

True

## Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements, Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between brackets[]

In [30]:
lst_example = []

In [31]:
type(lst_example)

list

In [32]:
lst=list()

In [33]:
type(lst)

list

In [34]:
type([])

list

In [35]:
lst=['Mathematics','Chemistry',100,200,300,204] #Items can be a different data type

In [36]:
print(lst)

['Mathematics', 'Chemistry', 100, 200, 300, 204]

In [37]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 204]

In [38]:
len(lst) #there are 6 items

6

In [39]:
type(lst)

list

## Append

In [40]:
#.append is used to add elements in the list
lst.append('Krish')

In [41]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 204, 'Krish']

In [51]:
lst.append(["John","Bala"]) #It will create a nested list

In [52]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

## Indexing in List 
 - Indexing starts at 0

In [42]:
lst[2]

100

In [43]:
lst[3]

200

In [44]:
lst[0]

'Mathematics'

In [45]:
lst[6]

'Krish'

In [46]:
lst[:]

['Mathematics', 'Chemistry', 100, 200, 300, 204, 'Krish']

In [47]:
lst[1:]

['Chemistry', 100, 200, 300, 204, 'Krish']

In [49]:
lst[1:6] #6th element is Krish so it will pickup all the element before that

['Chemistry', 100, 200, 300, 204]

In [50]:
lst[:5]

['Mathematics', 'Chemistry', 100, 200, 300]

## Insert

In [53]:
## Insert in a specific order
lst.insert(1,"Naik")

In [54]:
lst

['Mathematics',
 'Naik',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [55]:
lst.insert(2,"Ananth")

In [56]:
lst

['Mathematics',
 'Naik',
 'Ananth',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [57]:
lst.append(["Hello","World"])

In [58]:
lst

['Mathematics',
 'Naik',
 'Ananth',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [59]:
lst_new = [1,2,3]

In [60]:
lst_new.append([4,5])

In [62]:
lst_new

[1, 2, 3, [4, 5]]

## Extend method

In [63]:
lst_new.extend([6,7])

In [64]:
lst_new

[1, 2, 3, [4, 5], 6, 7]

In [65]:
lst=[1,2,3,4,5,6]

In [66]:
lst.extend([8,9])

In [67]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [68]:
lst.extend(10,11)

TypeError: list.extend() takes exactly one argument (2 given)

## Various Operation that we can perform in List

In [69]:
lst=[1,2,3,4,5]

In [70]:
sum(lst)

15

In [86]:
lst

[1, 1, 2, 3, 4, 5]

In [87]:
lst*2

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]

In [88]:
lst*5

[1,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 4,
 5]

## Pop() Method 
- It will try to remove/pickup item from the specific index

In [71]:
lst.pop()

5

In [72]:
lst

[1, 2, 3, 4]

In [73]:
lst.pop(0)

1

In [74]:
lst

[2, 3, 4]

## count():Calculates total occurences of given element of List

In [75]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [76]:
lst.count()

TypeError: list.count() takes exactly one argument (0 given)

In [77]:
#length:cacluates total length of LIst
len(lst)

6

In [78]:
#index(): Returns the index of first occurence. Start and End index are not necessary parameters
lst.index(1)

0

In [79]:
lst

[1, 1, 2, 3, 4, 5]

In [81]:
lst.index(5,0,5)

ValueError: 5 is not in list

In [82]:
lst.index(5,0,)

5

In [83]:
lst.index(5,0,6)

5

In [84]:
##Min and Max
min(lst)

1

In [85]:
max(lst)

5